*{
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  background: #8e67f0;
  height: 100vh;
  margin: 0;
  min-width: 350px;
}
.container{
  display: flex;
  justify-content: center;
  position: relative;
  width: 80%;
  height: 60%;
  background: #fff;
  margin: 0 auto;
  border-radius: 40px;
  
}
.bar{
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 30%;
  width: 80%;
  background: #000;
  border-radius: 20px;
  bottom: -15%;
  padding: 20px 60px;
}
.counter{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 60%;
  font-size: 24px;
}
.number{
  color: white;
}
.text{
  color: #747285;
}
@media (max-width: 568px){
  .counter{
      font-size: 16px;
      padding: 20px;
  }

}
textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size: 22px;
  padding: 30px;
  border-radius: 40px;
}
